
  .home-page{
    padding: 30px;
  }
  .img-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .img-item{
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 270px;
    .btns{
      display: flex;
      
      .btn{
        flex: 1;
        width: 50%;
        color: #fff;
        font-size: 13px;
        text-align: center;
        line-height:30px;
        cursor: pointer;
        &.danger{
          background-color: #f70;
          border-radius: 0 0 0 10px;
        }
        &.primary{
          background-color: #3da0ee;
          border-radius: 0 0 10px 0;
        }
      }
    }
    .img-cell{
      border-radius: 10px 10px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      background: #efefef;
      padding: 10px;
    }
    .img-info{
      font-size: 12px;
      padding: 10px;
      background: #efefef;
      p{
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.3;
        white-space: nowrap;
        margin:10px 0;
        word-break: keep-all;
      }
    }
    .img-el{
      max-width: 100%;
      max-height: 200px;
    }
  }